@using System.Text.RegularExpressions
@using Asp._NET_Core_Mentoring_Module1.Helpers
@using Asp_.NET_MVC_Core_Mentoring_Module1.Helpers
@model IEnumerable<Asp_.NET_Core_Mentoring_Module1.Common.Entities.Categories>

@{
    ViewData["Title"] = "Categories";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.CategoryName), @"((?<=\p{Ll})\p{Lu})|((?!\A)\p{Lu}(?>\p{Ll}))", " $0")
            </th>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.Description), @"((?<=\p{Ll})\p{Lu})|((?!\A)\p{Lu}(?>\p{Ll}))", " $0")
            </th>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.Picture), @"((?<=\p{Ll})\p{Lu})|((?!\A)\p{Lu}(?>\p{Ll}))", " $0")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="display: grid">
                    <img src="@ImageHelper.GetImageBase64String(item.Picture)" alt="Cannot display image." />
                    <download-image image-id="@item.CategoryId"></download-image>
                    @Html.DownloadImage(item.CategoryId)
                    <a asp-action="Upload" asp-route-id="@item.CategoryId">Upload New Category Image</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Header
{
    <div style="margin-left: 10px; width: 100%; display: flex; justify-content: center;">
        <h1 style="margin-left: 10px">Category header</h1>
    </div>
}

@section Footer
{
    <p style="margin-left: 10px; width: 100%; display: flex; justify-content: center;">
        NB: You cannot edit any category.
    </p>
}
