@using System.Text.RegularExpressions
@using Asp._NET_Core_Mentoring_Module1.Helpers
@model IEnumerable<Asp_.NET_Core_Mentoring_Module1.Common.Entities.Categories>

@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.CategoryName), @"((?<=\p{Ll})\p{Lu})|((?!\A)\p{Lu}(?>\p{Ll}))", " $0")
            </th>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.Description), @"((?<=\p{Ll})\p{Lu})|((?!\A)\p{Lu}(?>\p{Ll}))", " $0")
            </th>
            <th>
                @Regex.Replace(Html.DisplayNameFor(model => model.Picture), @"((?<=\p{Ll})\p{Lu})|((?!\A)\p{Lu}(?>\p{Ll}))", " $0")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="display: grid">
                    <img src="@ImageHelper.GetImageBase64String(item.Picture)" alt="Cannot display image." />
                    <a asp-action="GetCategoryImage" asp-route-id="@item.CategoryId">Download Category Image</a>
                    <a asp-action="AddFile" asp-route-id="@item.CategoryId">Upload New Category Image</a>
                </td>
            </tr>
        }
    </tbody>
</table>
